* {
  margin: 0;
  padding: 0;
}

body {
  background: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  margin: 20px;
}

h2 {
  margin: 10px;
  font-size: 1.2em;
}

.sidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.sidenav a:hover {
  left: 0;
}

.sidenav i {
  font-size: 20px;
  margin-left: 30px;
}

.home {
  top: 20px;
  background-color: #2980b9;
}

.data {
  top: 80px;
  background-color: #c0392b;
}

[class^="col"]{
  margin: 0 .5em .5em 0;
}

[class^="col"]:not(:last-child){
  margin-right: 0;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col-1-4{
  flex: 0 0 calc((100% - 3 * 1em) / 4);
}

.pokemon-search{
  width: 1200px;
  background: #f1c40f;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.search-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}


.search-container button {
  padding: 4px 7px;
  background: #ddd;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin: 10px;
  font-size: 1.3em;
}

select {
  font-size: 1em;
  width: 250px;
  padding: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
}

input {
  font-size: 1em;
  height: 15px;
  width: 230px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

.result-box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.pokemon-card {
  width: 300px;
  border: 2px #2980B9 solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #ECF0F1;
}

.info-list {
  list-style: none;
}

.info-list li {
  border: 1px #2980B9 solid;
  border-radius: 10px;
  padding: 5px;
}

@media screen and (max-width: 768px){
  .row{
    display: block;
  }
  [class^="col"]{
    width: 100%;
  }

  .pokemon-search{
    width: 300px;
  }

  .search-container {
    display: block;
  }

  input {
    width: 230px;
  }

  .search-container button {
    padding: 10px 12px;
    font-size: 1em;
  }
}